<!-- <div class="jumbotron text-center" style="background-color: transparent!important">
  <h2><u>SPORTS EVENT CO-ORDINATERS</u></h2>
  <div class="row">
    <div class="col-sm-6 col-6 col-md-6 text-center">
      <div>
        <h4 class="text-center">Contact</h4>
        <h2 class="text-center"><u><strong> KRISHNA KUMAR</strong></u></h2>
      </div>
    </div>
    <div class="col-sm-6 col-6 col-md-6 text-center">

      <div>
        <h4 class="text-center">Mobile</h4>
        <h2 class="text-center"><u><strong>6300813031</strong></u></h2>
      </div>
    </div>
  </div>

</div> -->

<div class="row" style="margin-top: 5%">
  <div class="col-md-1 col-1 col-sm-1">

  </div>

  <div class="col-md-5 col-sm-5 col-5 pl-5 animated bounce">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>CRICKET</strong></h3>
      </div>
      <div class="panel-body">

        <div class="col-6 col-md-6 col-sm-6 ">
          <div>
            <h6 class="text-center">Contact</h6>
            <h4 class="text-center">Y.HARSHA REDDY</h4>
          </div>
        </div>
        <div class="col-6 col-md-6 col-sm-6">
          <div>
            <h6 class="text-center">Mobile</h6>
            <h4 class="text-center">9032198936</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-sm-5 col-5 ml-5 animated rubberBand">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><strong>THROWBAL</strong></h3>
      </div>
      <div class="panel-body">

        <div class="col-6 col-md-6 col-sm-6">
          <div>
            <h6 class="text-center">Contact</h6>
            <h4 class="text-center">S.HARI KRISHNA KUMAR</h4>
          </div>
        </div>
        <div class="col-6 col-md-6 col-sm-6">
          <div>
            <h6 class="text-center">Mobile</h6>
            <h4 class="text-center">6300813031</h4>
          </div>
        </div>

      </div>
    </div>

  </div>


  <div class="row" style="margin-left: 7px;margin-right: 5px">


    <div class="col-md-4 col-sm-4 col-4 animated fadeInDown ">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><strong>BASKETBAL</strong></h3>
        </div>
        <div class="panel-body">

          <div class="col-6 col-md-6 col-sm-6">
            <div>
              <h6 class="text-center">Contact</h6>
              <h4 class="text-center">Y.HARSHA REDDY</h4>
            </div>
          </div>
          <div class="col-6 col-md-6 col-sm-6">
            <div>
              <h6 class="text-center">Mobile</h6>
              <h4 class="text-center">9032198936</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-4 animated fadeInRight">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><strong>VOLLEYBAL</strong></h3>
        </div>
        <div class="panel-body">

          <div class="col-6 col-md-6 col-sm-6">
            <div>
              <h6 class="text-center">Contact</h6>
              <h4 class="text-center">S.HARI KRISHNA</h4>
            </div>
          </div>
          <div class="col-6 col-md-6 col-sm-6">
            <div>
              <h6 class="text-center">Mobile</h6>
              <h4 class="text-center">6300813031</h4>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-4 animated flipInX">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><strong>KHO-KHO</strong></h3>
        </div>
        <div class="panel-body">

          <div class="col-6 col-md-6 col-sm-6">
            <div>
              <h6 class="text-center">Contact</h6>
              <h4 class="text-center">S.HARI KRISHNA</h4>
            </div>
          </div>
          <div class="col-6 col-md-6 col-sm-6">
            <div>
              <h6 class="text-center">Mobile</h6>
              <h4 class="text-center">6300813031</h4>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-1 col-1 col-sm-1">

      </div>

      <div class="col-md-5 col-sm-5 col-5 pl-5 animated flip">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>TABLE TENNIS</strong></h3>
          </div>
          <div class="panel-body">

            <div class="col-6 col-md-6 col-sm-6">
              <div>
                <h6 class="text-center">Contact</h6>
                <h4 class="text-center">Y.HARSHA REDDY</h4>
              </div>
            </div>
            <div class="col-6 col-md-6 col-sm-6">
              <div>
                <h6 class="text-center">Mobile</h6>
                <h4 class="text-center">9032198936</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-5 col-5 ml-5">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>CHESS</strong></h3>
          </div>
          <div class="panel-body">

            <div class="col-6 col-md-6 col-sm-6">
              <div>
                <h6 class="text-center">Contact</h6>
                <h4 class="text-center">P.R.C.SARATH</h4>
              </div>
            </div>
            <div class="col-6 col-md-6 col-sm-6">
              <div>
                <h6 class="text-center">Mobile</h6>
                <h4 class="text-center">7095980849</h4>
              </div>
            </div>

          </div>
        </div>

      </div>


      <div class="row" style="margin-left: 7px;margin-right: 5px">


        <div class="col-md-4 col-sm-4 col-4 ">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><strong>BADMINTON</strong></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div>
                  <h6 class="text-center">Categories</h6>
                  <h4 class="text-center">SINGLES,DOUBLES</h4>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-6 col-md-6 col-sm-6">
                  <div>
                    <h6 class="text-center">Contact</h6>
                    <h4 class="text-center">Y.HARSHA REDDY</h4>
                  </div>
                </div>
                <div class="col-6 col-md-6 col-sm-6">
                  <div>
                    <h6 class="text-center">Mobile</h6>
                    <h4 class="text-center">9032198936</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-4 ">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><strong>CARROMS</strong></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div>
                  <h6 class="text-center">Categories</h6>
                  <h4 class="text-center">SINGLES,DOUBLES</h4>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-6 col-md-6 col-sm-6">
                  <div>
                    <h6 class="text-center">Contact</h6>
                    <h4 class="text-center">S.HARI KRISHNA</h4>
                  </div>
                </div>
                <div class="col-6 col-md-6 col-sm-6">
                  <div>
                    <h6 class="text-center">Mobile</h6>
                    <h4 class="text-center">6300813031</h4>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><strong>ATHLETICS</strong></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div>
                  <h6 class="text-center">Categories</h6>
                  <h5 class="text-center"><strong>100M</strong>,<strong>200M</strong>,
                    <strong>400M</strong>,<strong>4*100m RELAY</strong>,<strong>800M</strong>,
                    <strong>1500M</strong>,<strong>3K</strong></h5>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-6 col-md-6 col-sm-6">
                  <div>
                    <h6 class="text-center">Contact</h6>
                    <h4 class="text-center">S.HARI KRISHNA</h4>
                  </div>
                </div>
                <div class="col-6 col-md-6 col-sm-6">
                  <div>
                    <h6 class="text-center">Mobile</h6>
                    <h4 class="text-center">6300813031</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>