<div id="container">
    <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
    <nav class="navbar navbar-primary navbar-fixed-top" id="mNavbar" style="background-color: white">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed btn" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>Menu
                </button>
                <a class="navbar-brand" href="#"><img src="../assets/college.jpg" style="width: 75px"> </a> </div>
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav text-center">

                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/cultural" routerLinkActive="active-link">Cultural Events</a></li>
                    <li><a routerLink="/sports" routerLinkActive="active-link">Sports Events</a></li>
                    <li><a routerLink="/sponsers" routerLinkActive="active-link">Sponsers</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active-link">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>