<div id="cultural-container">
  <div class="flip-card" style="background-color: #FFF056; color: black">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="backgroundImage">
          <div>
            <h1 style="color: #0074D9">Dance</h1>
            <hr />
          </div>
          <div>
            <h5>SOLO</h5>
            <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          </div>
          <div>
            <h5>Group(5-10)</h5>
            <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          </div>
          <div>
            <h5>On-Spot</h5>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <h1><i class="fas fa-user-tag"></i>Contact US</h1>
        <hr />
        <h3>
          S.Y.KUMAR
        </h3>

        <p>9966143857 </p>
      </div>
    </div>
  </div>
  <!-- Card 2 -->
  <div class="flip-card" style="background-color: teal; color: black">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="backgroundImage">
          <div>
            <h1 style="color: #FF851B">
              MUSIC
            </h1>
            <hr />
          </div>
          <div>
            <h5>SOLO</h5>
            <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          </div>
          <div>
            <h5>Group(5-10)</h5>
            <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          </div>
          <div>
            <h5>On-Spot</h5>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <h1><i class="fas fa-user-tag"></i>Contact US</h1>
        <hr />
        <h3>
          SRIKANTH
        </h3>

        <p>8121763179 </p>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="flip-card" style="background-color: #2ECC40; color: black">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="backgroundImage">
          <div>
            <h1 style="color: #FFF056">
              DRAMATICS
            </h1>
            <hr />
          </div>
          <div>
            <h5>STAGE PLAY</h5>
            <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          </div>
          <div>
            <h5>STREET PLAY</h5>
            <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          </div>
          <div>
            <h5>MONO ACTING</h5>
          </div>
        </div>
      </div>
      <div class="flip-card-back">
        <h1><i class="fas fa-user-tag"></i>Contact US</h1>
        <hr />
        <h3>
          SURYA TEJA
        </h3>

        <p>7096145392</p>
      </div>
    </div>
  </div>
  <div class="flip-card" style="background-color: #FF851B; color: black">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div>
          <h2 style="color: #FF4136">PHOTOGRAPHY</h2>
          <hr />
        </div>
        <ul class="row">
          <li> SHORT FILM MAKING(12)</li>
          <li> YUVTARANG DOCUMENTARY MAKING</li>
          <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          <li> PHOTO STORY COMPETITION</li>
          <li> CLICK IT(WITH IN THE COLLEGE PREMISES)</li>

        </ul>
      </div>
      <div class="flip-card-back">
        <h1><i class="fas fa-user-tag"></i>Contact US</h1>
        <hr />
        <h3>
          SURYA
        </h3>

        <p>9010072493</p>
      </div>
    </div>
  </div>


  <div class="flip-card " style="background-color: #0074D9; color: black">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="backgroundImage">
          <div>
            <h1 style="color: #001f3f">
              FINE ARTS
            </h1>
            <hr />
          </div>
          <div>
            <h5>RANGOLI(5)</h5>
            <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          </div>
          <div>
            <h5>MEHANDI</h5>
            <hr class="mr-5 ml-5" style="margin-left: 25%;margin-right: 25%" />
          </div>

        </div>
      </div>
      <div class="flip-card-back">
        <h1><i class="fas fa-user-tag"></i>Contact US</h1>
        <hr />
        <h3>
          NAVYA SRI
        </h3>

        <p>9133580330</p>
      </div>
    </div>
  </div>

</div>